{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
   {% block title %} <title>{{room.name}}</title> {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static 'css/UI.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .chat-messages {
            height: 400px;
            overflow-y: auto;}
        </style>

</head>

<body>
    <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> SimpleChat
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>
      
        <main class="msger-chat" id="chat-messages-container">
            {% for message in messages %}
            {% if message.user.username == request.user.username %}
            <!-- Right column for the sender's messages -->
            <div class="msg right-msg">
              <div class="msg-bubble">
                <div class="msg-info" id="chat-message">
                  <div class="msg-info-name">{{ message.user.username }}</div>
                  <div class="msg-info-time">{{ message.created_at }}</div>
                </div>
                <div class="msg-text">
                  {{ message.content }}
                </div>
              </div>
            </div>
            {% else %}
            <!-- Left column for the receiver's messages -->
            <div class="msg left-msg">
              <div class="msg-bubble">
                <div class="msg-info" id="chat-message">
                  <div class="msg-info-name">{{ message.user.username }}</div>
                  <div class="msg-info-time">{{ message.created_at }}</div>
                </div>
                <div class="msg-text">
                  {{ message.content }}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </main>
        
        <form class="msger-inputarea" method="POST" action=".">
            {% csrf_token %}
            <input type="text" class="msger-input" id="chat-message-input" placeholder="Enter your message...">
            <button type="submit" class="msger-send-btn" id="chat-message-submit">Send</button>
        </form>
      </section>

      {{ room.slug|json_script:"json-roomname" }}
      {{ request.user.username| json_script:"json-username"}}

      <script src="{% static 'js/chat.js' %}"></script>


</body>
</html>