{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    
        <title>Sign Up</title>
     
</head>


<body>


    <div class="signupFrm">
      
          <form action="" method="POST" class="form">
            {% csrf_token %}
            <h1 class="title">Login</h1>

            <center>
              <p>
                Don't have an account? <a href="/signup">Sign up</a>
              </p>
            </center>
    
            <div class="inputContainer">
              <input type="text" name="email" class="input" placeholder="a" required>
              <label for="Email" class="label">Email</label>
            </div>
    
            <div class="inputContainer">
              <input type="password" name="password" class="input" placeholder="a" required>
              <label for="" class="label">Password</label>
            </div>
            
              <input type="submit" class="submitBtn" value="Sign In">
              <center>
                
              </center>
          </form>
    </div>

</body>
</html>
