{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/find.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <h1>Search</h1>

    <script src="https://kit.fontawesome.com/d97b87339f.js" crossorigin="anonymous"></script>

    <div class="search-box">
        <form method="POST" action="{% url 'search' %}" style="width: 100%; margin-left: auto; margin-right: auto;">
            {% csrf_token %}
                <input class="search-input" type="text" name="username" placeholder="Search for user.." style="width: 83%; margin-left: auto; margin-right: auto;">
                <button class="search-btn" type="submit" id="searchButton"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <h2 style="color: aliceblue;">Users</h2>

    <div id="userList">
        {% if users_profile_list %}
            {% for profile in users_profile_list %}
            <section>
                <p style="text-align: left; margin-left: 15px; color: aliceblue;">Number of Users: {{ users_profile_list|length }}</p>
                <p style="text-align: left; margin-left: 15px; color: aliceblue;">Name: {{ profile.user.first_name }}</p>
                <p style="text-align: left; margin-left: 15px; color: aliceblue;">Username: {{ profile.user.username }}</p>
                <p style="text-align: left; margin-left: 15px; color: aliceblue;">Email: {{ profile.user.email }}</p>
                <button class="button-3d">Chat</button>
            </section>
            {% endfor %}
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </div>

    <div class="footer"></div>

   
</body>
</html>